node_modules/
**/node_modules/
dist/
**/dist/
.angular/
**/.angular/
coverage/
**/coverage/
apps/api/data/*.sqlite
apps/api/data/*.sqlite-shm
apps/api/data/*.sqlite-wal
apps/api/data/uploads/
.git/
*.log
.DS_Store
